{% extends 'blog/base.html' %}

{% block title %}

    <title>Delete blog {{ post.id }} </title>

{% endblock title %}

{% block content %}

    <div class="post">
        <h1> Are you sure you want to delete:</h1>
        <h2> {{ post.author }} </h1>
        <h2> {{ post.title }} </h2>
        <p> {{ post.text|truncatewords:30 }} </p>
        <h3> {{ post.create_date }} </h3>
        <button class="post-btn"><a href="{% url 'blog:delete' post.id %}">Delete</a></button>
        <button class="post-cancel-btn"><a href="{% url 'blog:show_all' %}">Cancel</a></button>
    </div>

{% endblock content %}
